<AuthorizeView>
    <Authorized>        
        <a href="logout" class="oi oi-account-logout">  Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="login?redirectUri=/" class="oi oi-account-login">  Log in</a>
    </NotAuthorized>
</AuthorizeView>
