<AuthorizeView>
    <Authorized>  
        <button class="btn btn-success"><a style="color: #fefadf; font-size: 1.3rem" href="logout" class="oi oi-account-logout">Log out</a></button>
    </Authorized>
    <NotAuthorized>
        <button class="btn btn-success"><a style="color: #fefadf; font-size: 1.3rem" href="login?redirectUri=/" class="oi oi-account-login">Log In</a></button>
    </NotAuthorized>
</AuthorizeView>
