<AuthorizeView>
    <Authorized>        
        <a href="logout">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a class="oi oi-lock-locked" href="login?redirectUri=/">Log in</a>
    </NotAuthorized>
</AuthorizeView>
